<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" value="{{initContact?.name}}" formControlName="name" required>
      <small class="form-text text-muted">Required</small>
    </div>
    <div class="form-group">
      <label for="number">Number</label>
      <input type="tel" class="form-control" id="number" name="number" value={{initContact?.number}} formControlName="number" required>
      <small class="form-text text-muted">Required</small>
    </div>
    <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="email" class="form-control" id="email" name="email" value={{initContact?.email}} formControlName="email">
    </div>
    <button class="btn btn-primary">Confirm</button>
</form>